<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Screen</title>
</head>
<body>
<form action="/hello/form-post-handle2" method="post">
    <p>
        <label for="name">
            Name
        </label>
        <input type="text" name = "name" id="name">
    </p>

    <p>
        <label for="email">
            Email
        </label>
        <input type="text" name = "email" id="email">
    </p>

    <p>
        <label for="password">
            Password
        </label>
        <input type="text" name = "password" id="password">
    </p>
    <input type="submit" value="제출">
</form>
</body>
</html>